<a href="https://colab.research.google.com/github/AlexGerwer/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [185]:
# Retrieve Lending Club Data
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-08-09 03:02:56--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [                 <=>]  21.56M   916KB/s    in 25s

2019-08-09 03:03:21 (896 KB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [22606280]

In [186]:
# Unzip the Lending Club Data file
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [187]:
import pandas as pd
# Set Pandas Display Options
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Load the Lending Club Data file
df_lending_club = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine = 'python')
df_lending_club_head = df_lending_club.head()
print (df_lending_club_head,'\n')
df_lending_club_tail = df_lending_club.tail()
print (df_lending_club_tail,'\n')

   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN      10000        10000          10000.0   36 months
1 NaN        NaN       4000         4000           4000.0   36 months
2 NaN        NaN       5000         5000           5000.0   36 months
3 NaN        NaN      23000        23000          23000.0   60 months
4 NaN        NaN       8000         8000           8000.0   36 months

  int_rate  installment grade sub_grade       emp_title emp_length  \
0   10.33%       324.23     B        B1             NaN   < 1 year
1   23.40%       155.68     E        E1        Security    3 years
2   17.97%       180.69     D        D1  Administrative    6 years
3   20.89%       620.81     D        D4        Operator    5 years
4   23.40%       311.35     E        E1         Manager  10+ years

  home_ownership  annual_inc verification_status   issue_d        loan_status  \
0       MORTGAGE    280000.0        Not Verified  Dec-2018            Current
1           RENT     90000.0     Source Verified  Dec-2018            Current
2       MORTGAGE     59280.0     Source Verified  Dec-2018  Late (16-30 days)
3           RENT     68107.0     Source Verified  Dec-2018            Current
4            OWN     43000.0     Source Verified  Dec-2018            Current

  pymnt_plan  url  desc             purpose               title zip_code  \
0          n  NaN   NaN  debt_consolidation  Debt consolidation    974xx
1          n  NaN   NaN  debt_consolidation  Debt consolidation    070xx
2          n  NaN   NaN  debt_consolidation  Debt consolidation    490xx
3          n  NaN   NaN  debt_consolidation  Debt consolidation    672xx
4          n  NaN   NaN  debt_consolidation  Debt consolidation    357xx

  addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
0         OR   6.15            2         Jan-1996               0
1         NJ  26.33            0         Sep-2006               4
2         MI  10.51            0         Apr-2011               0
3         KS   0.52            0         Feb-1997               0
4         AL  33.24            0         Jan-1995               0

   mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
0                    18.0                     NaN        14        0
1                    59.0                     NaN        15        0
2                     NaN                     NaN         8        0
3                     NaN                     NaN         5        0
4                     NaN                   107.0         8        1

   revol_bal revol_util  total_acc initial_list_status  out_prncp  \
0       9082        38%         23                   w    8540.01
1       5199      19.2%         20                   w    3510.60
2       4599      19.1%         13                   w    4456.17
3        976        13%         10                   w   21597.84
4       9019      81.3%         16                   w    7021.26

   out_prncp_inv  total_pymnt  total_pymnt_inv  total_rec_prncp  \
0        8540.01      1936.77          1936.77          1459.99
1        3510.60       926.28           926.28           489.40
2        4456.17       895.96           895.96           543.83
3       21597.84      3686.64          3686.64          1402.16
4        7021.26      1852.50          1852.50           978.74

   total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  \
0         476.78                 0.0         0.0                      0.0
1         436.88                 0.0         0.0                      0.0
2         352.13                 0.0         0.0                      0.0
3        2284.48                 0.0         0.0                      0.0
4         873.76                 0.0         0.0                      0.0

  last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  \
0     Jul-2019           324.23     Jul-2019           Jul-2019
1     Jul-2019           155.68     Jul-2019           Jul-2019
2     Jun-2019           180.69     Jul-2019           Jul-2019
3     Jul-2019           620.81     Jul-2019           Jul-2019
4     Jul-2019           311.35     Jul-2019           Jul-2019

   collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                           0                          NaN            1
1                           0                          NaN            1
2                           0                          NaN            1
3                           1                          NaN            1
4                           0                          NaN            1

  application_type  annual_inc_joint  dti_joint verification_status_joint  \
0       Individual               NaN        NaN                       NaN
1       Individual               NaN        NaN                       NaN
2       Individual               NaN        NaN                       NaN
3       Individual               NaN        NaN                       NaN
4       Individual               NaN        NaN                       NaN

   acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  \
0               0           671       246828            1            3
1               0             0        66926            5            4
2               0             0       110299            0            1
3               0          2693          976            0            0
4               0             0       169223            0            3

   open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
0            2            3                 1.0         48552     62.0
1            3            4                 5.0         61727     86.0
2            0            2                14.0          7150     72.0
3            0            0                36.0             0      NaN
4            2            2                 7.0         22059     69.0

   open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0            1            3        4923      46.0             23900       2
1            6           11        1353      68.0             27100       4
2            0            2           0      35.0             24100       1
3            3            4           0      13.0              7500       2
4            0            0        2174      72.0             11100       1

   total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
0            7             1                     7      17631.0
1            0             4                    15       4462.0
2            5             0                     4      18383.0
3            2             4                     4        195.0
4            1             1                     2      21153.0

   bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
0         11897.0     43.1                         0            0
1         20174.0      7.9                         0            0
2         13800.0      0.0                         0            0
3          3300.0      0.0                         0            0
4           126.0     94.5                         0            0

   mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
0               158.0                   275                     11
1               147.0                   118                      2
2                87.0                    92                     15
3               237.0                   262                     10
4               148.0                   287                     44

   mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  \
0               1         1                  11.0                       NaN
1               2         0                   2.0                       NaN
2              14         2                  77.0                       NaN
3              10         0                  10.0                       NaN
4               7         1                  51.0                       NaN

   mths_since_recent_inq  mths_since_recent_revol_delinq  \
0                   11.0                             NaN
1                    0.0                             NaN
2                   14.0                             NaN
3                    9.0                             NaN
4                    7.0                             NaN

   num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  \
0                      0               3                4            7
1                      0               5                7            9
2                      0               0                3            3
3                      0               0                1            3
4                      0               1                4            1

   num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  \
0          7         10              9             11                    4
1          9          8             11             12                    7
2          3          4              6              7                    3
3          4          3              5              7                    1
4          2          8              4              7                    4

   num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  \
0        14               0.0             0                   0
1        15               0.0             0                   0
2         8               0.0             0                   0
3         5               0.0             0                   0
4         8               0.0             0                   0

   num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  \
0                   4            91.3              28.6                     0
1                   9            95.0               0.0                     0
2                   0           100.0               0.0                     0
3                   3           100.0               0.0                     0
4                   2           100.0             100.0                     1

   tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
0          0           367828              61364           20900
1          0            98655              66926           21900
2          0           136927              11749           13800
3          0             7500                976            3300
4          0           199744              31078            2300

   total_il_high_credit_limit  revol_bal_joint sec_app_earliest_cr_line  \
0                       54912              NaN                      NaN
1                       71555              NaN                      NaN
2                       10000              NaN                      NaN
3                           0              NaN                      NaN
4                       32206              NaN                      NaN

   sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  \
0                     NaN               NaN               NaN
1                     NaN               NaN               NaN
2                     NaN               NaN               NaN
3                     NaN               NaN               NaN
4                     NaN               NaN               NaN

   sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  \
0                 NaN                  NaN                    NaN
1                 NaN                  NaN                    NaN
2                 NaN                  NaN                    NaN
3                 NaN                  NaN                    NaN
4                 NaN                  NaN                    NaN

   sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  \
0                               NaN                                 NaN
1                               NaN                                 NaN
2                               NaN                                 NaN
3                               NaN                                 NaN
4                               NaN                                 NaN

   sec_app_mths_since_last_major_derog hardship_flag hardship_type  \
0                                  NaN             N           NaN
1                                  NaN             N           NaN
2                                  NaN             N           NaN
3                                  NaN             N           NaN
4                                  NaN             N           NaN

  hardship_reason hardship_status  deferral_term  hardship_amount  \
0             NaN             NaN            NaN              NaN
1             NaN             NaN            NaN              NaN
2             NaN             NaN            NaN              NaN
3             NaN             NaN            NaN              NaN
4             NaN             NaN            NaN              NaN

  hardship_start_date hardship_end_date payment_plan_start_date  \
0                 NaN               NaN                     NaN
1                 NaN               NaN                     NaN
2                 NaN               NaN                     NaN
3                 NaN               NaN                     NaN
4                 NaN               NaN                     NaN

   hardship_length  hardship_dpd hardship_loan_status  \
0              NaN           NaN                  NaN
1              NaN           NaN                  NaN
2              NaN           NaN                  NaN
3              NaN           NaN                  NaN
4              NaN           NaN                  NaN

   orig_projected_additional_accrued_interest  hardship_payoff_balance_amount  \
0                                         NaN                             NaN
1                                         NaN                             NaN
2                                         NaN                             NaN
3                                         NaN                             NaN
4                                         NaN                             NaN

   hardship_last_payment_amount debt_settlement_flag  \
0                           NaN                    N
1                           NaN                    N
2                           NaN                    N
3                           NaN                    N
4                           NaN                    N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

   settlement_amount  settlement_percentage  settlement_term
0                NaN                    NaN              NaN
1                NaN                    NaN              NaN
2                NaN                    NaN              NaN
3                NaN                    NaN              NaN
4                NaN                    NaN              NaN

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
128407 NaN        NaN      23000        23000          23000.0   36 months
128408 NaN        NaN      10000        10000          10000.0   36 months
128409 NaN        NaN       5000         5000           5000.0   36 months
128410 NaN        NaN      10000        10000           9750.0   36 months
128411 NaN        NaN      10000        10000          10000.0   36 months

       int_rate  installment grade sub_grade             emp_title emp_length  \
128407   15.02%       797.53     C        C3        Tax Consultant  10+ years
128408   15.02%       346.76     C        C3        security guard    5 years
128409   13.56%       169.83     C        C1          Payoff Clerk  10+ years
128410   11.06%       327.68     B        B3                   NaN        NaN
128411   16.91%       356.08     C        C5  Key Accounts Manager    2 years

       home_ownership  annual_inc verification_status   issue_d  loan_status  \
128407       MORTGAGE     75000.0     Source Verified  Oct-2018  Charged Off
128408       MORTGAGE     38000.0        Not Verified  Oct-2018      Current
128409       MORTGAGE     35360.0        Not Verified  Oct-2018      Current
128410           RENT     44400.0     Source Verified  Oct-2018      Current
128411           RENT     80000.0        Not Verified  Oct-2018      Current

       pymnt_plan  url  desc             purpose                    title  \
128407          n  NaN   NaN  debt_consolidation       Debt consolidation
128408          n  NaN   NaN  debt_consolidation       Debt consolidation
128409          n  NaN   NaN  debt_consolidation       Debt consolidation
128410          n  NaN   NaN         credit_card  Credit card refinancing
128411          n  NaN   NaN               other                    Other

       zip_code addr_state    dti  delinq_2yrs earliest_cr_line  \
128407    352xx         AL  20.95            1         Aug-1985
128408    443xx         OH  13.16            3         Jul-1982
128409    381xx         TN  11.30            1         Jun-2006
128410    980xx         WA  11.78            0         Oct-2008
128411    021xx         MA  17.72            1         Sep-2006

        inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
128407               2                    22.0                     NaN
128408               0                     6.0                     NaN
128409               0                    21.0                     NaN
128410               2                    40.0                     NaN
128411               0                    14.0                     NaN

        open_acc  pub_rec  revol_bal revol_util  total_acc  \
128407        12        0      22465      43.6%         28
128408        11        0       5634      37.1%         16
128409         9        0       2597      27.3%         15
128410        15        0       6269      13.1%         25
128411        17        0       1942      30.8%         31

       initial_list_status  out_prncp  out_prncp_inv  total_pymnt  \
128407                   w       0.00           0.00      1547.08
128408                   w    7902.84        7902.84      3112.50
128409                   f    3932.69        3932.69      1524.70
128410                   f    7800.53        7605.52      2933.76
128411                   w    7950.71        7950.71      3195.33

        total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
128407          1547.08          1025.67         521.41                 0.0
128408          3112.50          2097.16        1015.34                 0.0
128409          1524.70          1067.31         457.39                 0.0
128410          2860.42          2199.47         734.29                 0.0
128411          3195.33          2049.29        1146.04                 0.0

        recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
128407         0.0                      0.0     Dec-2018           797.53
128408         0.0                      0.0     Jul-2019           346.76
128409         0.0                      0.0     Jul-2019           169.83
128410         0.0                      0.0     Jul-2019           327.68
128411         0.0                      0.0     Jul-2019           356.08

       next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
128407          NaN           Nov-2018                           0
128408     Aug-2019           Jul-2019                           0
128409     Aug-2019           Jul-2019                           0
128410     Aug-2019           Jul-2019                           0
128411     Aug-2019           Jul-2019                           0


In [188]:
# Assess the loaded file for characteristics and missing (NaN) data
df_lending_club_shape = df_lending_club.shape
print ('Lending Club Data Shape')
print (df_lending_club_shape, '\n')

print ('Lending Club Data Column Counts and NaN Counts')
df_lending_club_columns = pd.DataFrame(df_lending_club.columns.values)
df_lending_club_count = df_lending_club.count()
df_lending_club_nan = df_lending_club.isna().sum()
df_lending_club_data_types = df_lending_club.dtypes
df_lending_club_count_nan = pd.concat([df_lending_club_columns.reset_index(drop=True), df_lending_club_count.reset_index(drop=True), df_lending_club_nan.reset_index(drop=True), df_lending_club_data_types.reset_index(drop=True)], axis=1)
df_lending_club_count_nan.columns = ['Column Name', 'Column Counts','NaN Counts', 'Data Type']
df_lending_club_count_nan_sort = df_lending_club_count_nan.sort_values(by = 'NaN Counts', ascending=False)
print (df_lending_club_count_nan_sort, '\n')

Lending Club Data Shape
(128412, 144)

Lending Club Data Column Counts and NaN Counts
                                    Column Name  Column Counts  NaN Counts  \
0                                            id              0      128412
19                                         desc              0      128412
18                                          url              0      128412
1                                     member_id              0      128412
131                             hardship_length              3      128409
124                             hardship_reason              3      128409
125                             hardship_status              3      128409
126                               deferral_term              3      128409
127                             hardship_amount              3      128409
128                         hardship_start_date              3      128409
129                           hardship_end_date              3      128409
130                     payment_plan_start_date              3      128409
132                                hardship_dpd              3      128409
133                        hardship_loan_status              3      128409
134  orig_projected_additional_accrued_interest              3      128409
135              hardship_payoff_balance_amount              3      128409
136                hardship_last_payment_amount              3      128409
123                               hardship_type              3      128409
138                   debt_settlement_flag_date             62      128350
139                           settlement_status             62      128350
140                             settlement_date             62      128350
141                           settlement_amount             62      128350
142                       settlement_percentage             62      128350
143                             settlement_term             62      128350
121         sec_app_mths_since_last_major_derog           5154      123258
55                    verification_status_joint          14848      113564
29                       mths_since_last_record          15450      112962
116                          sec_app_revol_util          16524      111888
119            sec_app_chargeoff_within_12_mths          16782      111630
53                             annual_inc_joint          16782      111630
120          sec_app_collections_12_mths_ex_med          16782      111630
118                       sec_app_num_rev_accts          16782      111630
117                         sec_app_open_act_il          16782      111630
115                            sec_app_open_acc          16782      111630
114                            sec_app_mort_acc          16782      111630
113                      sec_app_inq_last_6mths          16782      111630
112                    sec_app_earliest_cr_line          16782      111630
54                                    dti_joint          16782      111630
111                             revol_bal_joint          16782      111630
86                     mths_since_recent_bc_dlq          25169      103243
50                  mths_since_last_major_derog          29180       99232
88               mths_since_recent_revol_delinq          36782       91630
28                       mths_since_last_delinq          56216       72196
10                                    emp_title         107465       20947
65                                      il_util         108138       20274
87                        mths_since_recent_inq         112365       16047
47                                 next_pymnt_d         115848       12564
11                                   emp_length         116708       11704
63                           mths_since_rcnt_il         123934        4478
80                           mo_sin_old_il_acct         123934        4478
99                             num_tl_120dpd_2m         125553        2859
77                                      bc_util         126658        1754
104                            percent_bc_gt_75         126720        1692
76                               bc_open_to_buy         126721        1691
85                         mths_since_recent_bc         126821        1591
24                                          dti         128175         237
45                                 last_pymnt_d         128253         159
33                                   revol_util         128256         156
69                                     all_util         128375          37
75                                  avg_cur_bal         128399          13
48                           last_credit_pull_d         128411           1
6                                      int_rate         128412           0
105                        pub_rec_bankruptcies         128412           0
137                        debt_settlement_flag         128412           0
103                              pct_tl_nvr_dlq         128412           0
102                          num_tl_op_past_12m         128412           0
101                          num_tl_90g_dpd_24m         128412           0
5                                          term         128412           0
7                                   installment         128412           0
4                               funded_amnt_inv         128412           0
3                                   funded_amnt         128412           0
100                                num_tl_30dpd         128412           0
2                                     loan_amnt         128412           0
98                                     num_sats         128412           0
97                          num_rev_tl_bal_gt_0         128412           0
106                                   tax_liens         128412           0
122                               hardship_flag         128412           0
8                                         grade         128412           0
14                          verification_status         128412           0
21                                        title         128412           0
95                                num_op_rev_tl         128412           0
20                                      purpose         128412           0
17                                   pymnt_plan         128412           0
16                                  loan_status         128412           0
15                                      issue_d         128412           0
13                                   annual_inc         128412           0
22                                     zip_code         128412           0
12                               home_ownership         128412           0
9                                     sub_grade         128412           0
110                  total_il_high_credit_limit         128412           0
109                              total_bc_limit         128412           0
108                           total_bal_ex_mort         128412           0
107                             tot_hi_cred_lim         128412           0
96                                num_rev_accts         128412           0
84                                     mort_acc         128412           0
94                                    num_il_tl         128412           0
58                                  tot_cur_bal         128412           0
56                               acc_now_delinq         128412           0
52                             application_type         128412           0
51                                  policy_code         128412           0
49                   collections_12_mths_ex_med         128412           0
46                              last_pymnt_amnt         128412           0
44                      collection_recovery_fee         128412           0
43                                   recoveries         128412           0
42                           total_rec_late_fee         128412           0
41                                total_rec_int         128412           0
40                              total_rec_prncp         128412           0
39                              total_pymnt_inv         128412           0
38                                  total_pymnt         128412           0
37                                out_prncp_inv         128412           0
36                                    out_prncp         128412           0
35                          initial_list_status         128412           0
34                                    total_acc         128412           0
32                                    revol_bal         128412           0
31                                      pub_rec         128412           0
30                                     open_acc         128412           0
27                               inq_last_6mths         128412           0
26                             earliest_cr_line         128412           0
57                                 tot_coll_amt         128412           0
59                                  open_acc_6m         128412           0
93                                    num_bc_tl         128412           0
60                                  open_act_il         128412           0
92                                  num_bc_sats         128412           0
91                              num_actv_rev_tl         128412           0
90                               num_actv_bc_tl         128412           0
89                        num_accts_ever_120_pd         128412           0
25                                  delinq_2yrs         128412           0
83                               mo_sin_rcnt_tl         128412           0
82                        mo_sin_rcnt_rev_tl_op         128412           0
81                         mo_sin_old_rev_tl_op         128412           0
79                                  delinq_amnt         128412           0
78                     chargeoff_within_12_mths         128412           0
74                         acc_open_past_24mths         128412           0
73                                 inq_last_12m         128412           0
23                                   addr_state         128412           0
71                                       inq_fi         128412           0
70                             total_rev_hi_lim         128412           0
68                                   max_bal_bc         128412           0
67                                  open_rv_24m         128412           0
66                                  open_rv_12m         128412           0
64                                 total_bal_il         128412           0
62                                  open_il_24m         128412           0
61                                  open_il_12m         128412           0
72                                  total_cu_tl         128412           0

    Data Type
0     float64
19    float64
18    float64
1     float64
131   float64
124    object
125    object
126   float64
127   float64
128    object
129    object
130    object
132   float64
133    object
134   float64
135   float64
136   float64
123    object
138    object
139    object
140    object
141   float64
142   float64
143   float64
121   float64
55     object
29    float64
116   float64
119   float64
53    float64
120   float64
118   float64
117   float64
115   float64
114   float64
113   float64
112    object
54    float64
111   float64
86    float64
50    float64
88    float64
28    float64
10     object
65    float64
87    float64
47     object
11     object
63    float64
80    float64
99    float64
77    float64
104   float64
76    float64
85    float64
24    float64
45     object
33     object
69    float64
75    float64
48     object
6      object
105     int64
137    object
103   float64
102     int64
101     int64
5      object
7     float64
4     float64
3       int64
100     int64
2       int64
98      int64
97      int64
106     int64
122    object
8      object
14     object
21     object
95      int64
20     object
17     object
16     object
15     object
13    float64
22     object
12     object
9      object
110     int64
109     int64
108     int64
107     int64
96      int64
84      int64
94      int64
58      int64
56      int64
52     object
51      int64
49      int64
46    float64
44    float64
43    float64
42    float64
41    float64
40    float64
39    float64
38    float64
37    float64
36    float64
35     object
34      int64
32      int64
31      int64
30      int64
27      int64
26     object
57      int64
59      int64
93      int64
60      int64
92      int64
91      int64
90      int64
89      int64
25      int64
83      int64
82      int64
81      int64
79      int64
78      int64
74      int64
73      int64
23     object
71      int64
70      int64
68      int64
67      int64
66      int64
64      int64
62      int64
61      int64
72      int64

In [0]:
#  Looking at the above table, columns which have only NaN values can be identified and then dropped
df_lending_club_drop = df_lending_club.drop(columns=['id', 'desc', 'url', 'member_id'], axis='columns')

In [190]:
# Converting the term column from an object string to integer.
# Start with a sample
df_lending_club_term = df_lending_club['term']
print (type(df_lending_club_term))
print (df_lending_club_term[1])

<class 'pandas.core.series.Series'>
 36 months

In [191]:
#  Starting with a sample
#  The designation " months" needs to be removed from the end 
sample_term = '36 months'
sample_term_stripped = sample_term[:-7]
print (sample_term_stripped)
type(sample_term_stripped)

36

str

In [192]:
# Going further with the test case
sample_term_stripped_int = int(sample_term_stripped)
print (sample_term_stripped_int)
type(sample_term_stripped_int)

36

int

In [193]:
# Now testing using a comprehension
def remove_end_label_to_int(string):
  return int(string[:-7])

sample_list = ['36 months', '24 months', '6 months']

[remove_end_label_to_int(item) for item in sample_list]

[36, 24, 6]

In [194]:
# Now using the comprehension on actual data with the apply function
df_lending_club['term'] = df_lending_club['term'].apply(remove_end_label_to_int)
df_lending_club.head(50)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8540.01,8540.01,1936.770000,1936.77,1459.99,476.78,0.0,0.0,0.0,Jul-2019,324.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4000,4000,4000.0,36,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3510.60,3510.60,926.280000,926.28,489.40,436.88,0.0,0.0,0.0,Jul-2019,155.68,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (16-30 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,23000,23000,23000.0,60,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21597.84,21597.84,3686.640000,3686.64,1402.16,2284.48,0.0,0.0,0.0,Jul-2019,620.81,Jul-2019,Jul-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,8000,8000,8000.0,36,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,7021.26,7021.26,1852.500000,1852.50,978.74,873.76,0.0,0.0,0.0,Jul-2019,311.35,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,32075,32075,32075.0,60,11.80%,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,22.21,0,Aug-2005,0,NaN,NaN,17,0,19077,32%,24,w,29646.85,29646.85,4230.020000,4230.02,2428.15,1801.87,0.0,0.0,0.0,Jul-2019,710.26,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,272667,1,4,1,1,9.0,37558,47.0,1,1,3910,41.0,59600,1,2,0,3,16039.0,10446.0,47.8,0,0,160.0,70,4,4,2,27.0,NaN,14.0,NaN,0,4,10,4,4,8,12,14,10,17,0.0,0,0,2,100.0,50.0,0,0,360433,56635,20000,80125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,9600,9600,9600.0,36,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8246.68,8246.68,1964.460000,1964.46,1353.32,611.14,0.0,0.0,0.0,Jul-2019,323.37,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,2500,2500,2500.0,36,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,0.00,0.00,2652.765986,2652.77,2500.00,152.77,0.0,0.0,0.0,May-2019,2315.91,NaN,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,30000,30000,30000.0,60,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,20424.26,20424.26,12116.030000,12116.03,9575.74,2540.29,0.0,0.0,0.0,Jul-2019,777.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,12000,12000,12000.0,60,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11130.42,11130.42,1645.380000,1645.38,869.58,775.80,0.0,0.0,0.0,Jul-2019,276.49,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,10000,10000,10000.0,60,19.92%,264.50,D,D3,Material Handler,10+ years,MORTGAGE,80000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,648xx,MO,20.67,0,Apr-2005,0,37.0,NaN,11,0,13198,73.7%,19,w,9383.92,9383.92,1570.400000,1570.40,616.08,954.32,0.0,0.0,0.0,Jul-2019,264.50,Jul-2019,Jul-2019,0,37.0,1,Individual,NaN,NaN,NaN,0,116,110120,0,2,0,1,15.0,24408,70.0,1,1,6521,72.0,17900,0,0,1,2,10011.0,779.0,90.3,0,0,148.0,164,11,11,1,149.0,37.0,11.0,37.0,0,2,8,2,4,6,8,12,8,11,0.0,0,0,1,84.2,50.0,0,0,170230,37606,8000,55030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,16000,16000,16000.0,60,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,14963.22,14963.22,2412.280000,2412.28,1036.78,1375.50,0.0,0.0,0.0,Jul-2019,406.04,Jul-2019,Jul-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,16000,16000,16000.0,60,26.31%,481.99,E,E4,Financial Relationship Associate,< 1 year,RENT,33000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,290xx,SC,33.62,0,Sep-2010,1,NaN,NaN,17,0,22872,65.5%,22,w,15168.43,15168.43,2856.860000,2856.86,831.57,2025.29,0.0,0.0,0.0,Jul-2019,481.99,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,29869,1,1,0,1,24.0,6997,65.0,1,1,2703,65.0,34900,0,3,1,2,1757.0,4596.0,66.9,0,0,29.0,99,2,2,0,2.0,NaN,3.0,NaN,0,6,11,9,13,2,16,20,11,17,0.0,0,0,1,100.0,55.6,0,0,45709,29869,13900,10809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,15000,15000,14975.0,60,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,13937.82,13914.59,2098.050000,2094.55,1062.18,1035.87,0.0,0.0,0.0,Jul-2019,352.69,Jul-2019,Jul-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,13000,13000,13000.0,36,23.40%,505.95,E,E1,Sale Representative,2 years,MORTGAGE,90000.0,Verified,Dec-2018,Current,n,NaN,NaN,other,Other,191xx,PA,39.73,0,May-2007,0,NaN,NaN,14,0,52013,83.1%,20,w,11409.51,11409.51,3010.350000,3010.35,1590.49,1419.86,0.0,0.0,0.0,Jul-2019,505.95,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,87876,1,7,1,3,1.0,35863,48.0,0,1,18037,64.0,62600,2,0,1,4,6277.0,9503.0,83.8,0,0,131.0,139,16,1,0,16.0,NaN,10.0,NaN,0,6,7,6,7,11,7,9,7,14,0.0,0,0,1,100.0,66.7,0,0,137276,87876,58600,74676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,9600,9600,9600.0,36,23.40%,373.62,E,E1,driver coordinator,9 years,RENT,65000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,265xx,WV,23.01,1,Sep-2003,0,16.0,NaN,12,0,10678,37.5%,20,f,8425.51,8425.51,2223.000000,2223.00,1174.49,1048.51,0.0,0.0,0.0,Jul-2019,373.62,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,66,24165,0,2,0,0,43.0,13487,33.0,1,1,2264,35.0,28500,0,0,0,1,2014.0,232.0,96.9,0,0,183.0,92,12,12,0,27.0,NaN,15.0,30.0,0,7,9,7,8,8,10,12,9,12,0.0,0,0,1,90.0,85.7,0,0,68902,24165,7600,40402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,3500,3500,3500.0,36,20.89%,131.67,D,D4,gas attendant,10+ years,MORTGAGE,40000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,car,Car financing,078xx,NJ,9.09,0,Oct-2004,1,24.0,NaN,4,0,1944,33.5%,18,w,3056.65,3056.65,783.930000,783.93,443.35,340.58,0.0,0.0,0.0,Jul-2019,131.67,Jul-2019,Jul-2019,0,48.0,1,Joint App,59500.0,10.59,Source Verified,0,0,189794,1,1,1,1,7.0,24958,100.0,2,2,1317,87.0,5800,1,0,3,3,47449.0,3683.0,26.3,0,0,150.0,170,1,1,4,8.0,48.0,1.0,48.0,2,1,2,1,8,3,2,11,2,4,0.0,0,0,3,38.9,0.0,0,0,217000,26902,5000,25000,6902.0,May-2003,0.0,3.0,6.0,47.9,0.0,21.0,0.0,0.0,46.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,30000,30000,30000.0,60,26.31%,903.73,E,E4,Casino Host,10+ years,OWN,62000.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,37.24,0,Oct-2007,0,NaN,86.0,15,1,18890,39.8%,36,w,29245.76,29245.76,2645.410000,2645.41,754.24,1891.17,0.0,0.0,0.0,Apr-2019,903.73,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,104590,1,2,1,2,6.0,85700,86.0,0,3,5976,49.0,47500,4,0,8,5,6973.0,17510.0,51.9,0,0,134.0,104,13,6,0,13.0,NaN,6.0,NaN,0,5,5,7,7,20,13,16,5,15,0.0,0,0,1,100.0,14.3,1,0,138354,104590,36400,90854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,16000,16000,16000.0,36,14.47%,550.51,C,C2,Carpenter,10+ years,RENT,150000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,other,Other,917xx,CA,17.94,0,Nov-2001,1,NaN,NaN,24,0,43721,59.2%,29,w,13788.81,13788.81,3283.770000,3283.77,2211.19,1072.58,0.0,0.0,0.0,Jul-2019,550.51,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,57465,0,2,0,0,36.0,13744,8.0,0,8,7445,56.0,73800,0,0,3,8,2498.0,4117.0,87.2,0,0,159.0,205,13,13,0,13.0,NaN,2.0,NaN,0,7,19,7,7,4,22,25,19,24,0.0,0,0,0,100.0,85.7,0,0,116647,57465,32100,42847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,24000,24000,24000.0,36,15.02%,832.21,C,C3,MAINTENANCE PLANNER,3 years,OWN,105000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,711xx,LA,22.14,0,Dec-2004,0,NaN,NaN,11,0,26552,61.2%,49,w,20707.61,20707.61,4963.220000,4963.22,3292.39,1670.83,0.0,0.0,0.0,Jul-2019,832.21,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,350585,2,2,5,9,5.0,66595,92.0,2,4,6618,71.0,43400,3,4,4,13,31871.0,7774.0,65.4,0,0,90.0,168,1,1,1,16.0,NaN,8.0,NaN,0,4,7,4,14,29,8,19,7,11,0.0,0,0,7,100.0,50.0,0,0,391084,93147,22500,73252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,12000,12000,12000.0,60,14.47%,282.16,C,C2,Assistant Athletic Director of Marketing,1 year,RENT,67000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,28.39,0,Aug-2009,1,NaN,NaN,9,0,10018,50.9%,34,w,11149.97,11149.97,1688.140000,1688.14,850.03,838.11,0.0,0.0,0.0,Jul-2019,282.16,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,184578,1,4,2,3,5.0,174560,97.0,0,1,4615,87.0,19700,1,1,2,4,20509.0,9682.0,50.9,0,0,112.0,80,23,5,0,23.0,NaN,5.0,NaN,0,3,3,5,5,26,5,8,3,9,0.0,0,0,2,100.0,0.0,0,0,183897,184578,19700,164197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,35000,35000,35000.0,60,15.02%,833.02,C,C3,Sr Sales Manager,10+ years,MORTGAGE,290000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,656xx,MO,7.60,0,Dec-2004,0,29.0,NaN,15,0,29416,93.7%,33,w,32554.98,32554.98,4954.310000,4954.31,2445.02,2509.29,0.0,0.0,0.0,Jul-2019,833.02,Jul-2019,Jul-2019,1,42.0,1,Individual,NaN,NaN,NaN,0,149,479986,1,8,0,2,17.0,58023,58.0,0,1,12297,75.0,31400,0,0,2,4,31999.0,1038.0,95.2,0,0,168.0,167,22,6,3,22.0,42.0,8.0,29.0,0,3,4,3,8,17,6,13,4,15,0.0,0,0,1,87.9,100.0,0,0,513173,87439,21600,82773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,14000,14000,14000.0,36,16.14%,493.17,C,C4,NaN,NaN,MORTGAGE,77479.0,Not Verified,Dec-2018,Current,n,NaN,NaN,other,Other,315xx,GA,23.65,0,Mar-2005,0,38.0,NaN,6,0,8147,101.8%,21,w,12108.16,12108.16,2940.190000,2940.19,1891.84,1048.35,0.0,0.0,0.0,Jul-2019,493.17,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,160981,0,4,1,4,12.0,48653,69.0,0,1,8147,75.0,8000,2,2,2,5,26830.0,0.0,101.8,0,0,155.0,165,16,12,2,16.0,38.0,11.0,38.0,0,1,1,1,3,14,1,5,1,6,0.0,0,0,1,90.5,100.0,0,0,197087,56800,8000,80287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,40000,40000,40000.0,60,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,36935.18,36935.18,5217.700000,5217.70,3064.82,2152.88,0.0,0.0,0.0,Jul-2019,875.90,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,149597,1,2,0,1,14.0,27860,66.0,2,2,9618,73.0,42300,0,0,0,3,12466.0,2589.0,89.6,0,0,123.0,132,1,1,3,40.0,NaN,15.0,NaN,0,3,8,4,8,5,9,14,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,24000,24000,24000.0,60,27.27%,736.73,E,E5,Firefighter/captain,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,977xx,OR,23.92,0,Feb-1999,0,74.0,NaN,17,0,12382,63.5%,39,w,0.00,0.00,26993.835441,26993.84,24000.00,2993.84,0.0,0.0,0.0,Jul-2019,17.42,NaN,Jul-2019,0,NaN,1,Joint App,165000.0,23.32,Not Verified,0,0,473236,1,6,2,7,3.0,112256,70.0,1,3,2792,69.0,19500,4,14,8,13,27837.0,8.0,99.7,0,0,238.0,149,12,3,4,24.0,NaN,7.0,NaN,0,1,7,1,3,19,8,16,7,17,0.0,0,0,3,97.4,100.0,0,0,544316,124638,2800,156323,47875.0,Mar-2005,0.0,4.0,13.0,78.8,2.0,8.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,28000,28000,28000.0,36,11.31%,920.81,B,B3,Executive Administrative Assistant,5 years,RENT,82000.0,Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,921xx,CA,14.40,0,Dec-2009,0,NaN,NaN,15,0,27713,43.9%,26,w,24089.39,24089.39,5498.470000,5498.47,3910.61,1587.86,0.0,0.0,0.0,Jul-2019,920.81,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,85157,0,1,1,3,7.0,57444,52.0,1,2,6392,45.0,63100,0,2,0,5,5677.0,28865.0,46.1,0,0,67.0,108,8,7,0,8.0,NaN,NaN,NaN,0,10,11,11,11,6,13,20,12,15,0.0,0,0,2,100.0,27.3,0,0,123978,85157,53600,60878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
# Make a column named loan_status_is_great. 
# It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.
# First, identify all of the potential values in the loan status column
df_lending_club.loan_status.unique()

array(['Current', 'Late (16-30 days)', 'Fully Paid', 'Late (31-120 days)',
       'In Grace Period', 'Charged Off', 'Default'], dtype=object)

In [196]:
# Now create the new loan_status_is_great column in the dataframe
df_lending_club.loc[:,'loan_status_is_great'] = df_lending_club['loan_status']
df_lending_club.head(50)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,NaN,NaN,10000,10000,10000.0,36,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8540.01,8540.01,1936.770000,1936.77,1459.99,476.78,0.0,0.0,0.0,Jul-2019,324.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
1,NaN,NaN,4000,4000,4000.0,36,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3510.60,3510.60,926.280000,926.28,489.40,436.88,0.0,0.0,0.0,Jul-2019,155.68,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
2,NaN,NaN,5000,5000,5000.0,36,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (16-30 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Late (16-30 days)
3,NaN,NaN,23000,23000,23000.0,60,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21597.84,21597.84,3686.640000,3686.64,1402.16,2284.48,0.0,0.0,0.0,Jul-2019,620.81,Jul-2019,Jul-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
4,NaN,NaN,8000,8000,8000.0,36,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,7021.26,7021.26,1852.500000,1852.50,978.74,873.76,0.0,0.0,0.0,Jul-2019,311.35,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
5,NaN,NaN,32075,32075,32075.0,60,11.80%,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,22.21,0,Aug-2005,0,NaN,NaN,17,0,19077,32%,24,w,29646.85,29646.85,4230.020000,4230.02,2428.15,1801.87,0.0,0.0,0.0,Jul-2019,710.26,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,272667,1,4,1,1,9.0,37558,47.0,1,1,3910,41.0,59600,1,2,0,3,16039.0,10446.0,47.8,0,0,160.0,70,4,4,2,27.0,NaN,14.0,NaN,0,4,10,4,4,8,12,14,10,17,0.0,0,0,2,100.0,50.0,0,0,360433,56635,20000,80125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
6,NaN,NaN,9600,9600,9600.0,36,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8246.68,8246.68,1964.460000,1964.46,1353.32,611.14,0.0,0.0,0.0,Jul-2019,323.37,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
7,NaN,NaN,2500,2500,2500.0,36,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,0.00,0.00,2652.765986,2652.77,2500.00,152.77,0.0,0.0,0.0,May-2019,2315.91,NaN,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid
8,NaN,NaN,30000,30000,30000.0,60,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,20424.26,20424.26,12116.030000,12116.03,9575.74,2540.29,0.0,0.0,0.0,Jul-2019,777.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
9,NaN,NaN,12000,12000,12000.0,60,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11130.42,11130.42,1645.380000,1645.38,869.58,775.80,0.0,0.0,0.0,Jul-2019,276.49,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
10,NaN,NaN,10000,10000,10000.0,60,19.92%,264.50,D,D3,Material Handler,10+ years,MORTGAGE,80000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,648xx,MO,20.67,0,Apr-2005,0,37.0,NaN,11,0,13198,73.7%,19,w,9383.92,9383.92,1570.400000,1570.40,616.08,954.32,0.0,0.0,0.0,Jul-2019,264.50,Jul-2019,Jul-2019,0,37.0,1,Individual,NaN,NaN,NaN,0,116,110120,0,2,0,1,15.0,24408,70.0,1,1,6521,72.0,17900,0,0,1,2,10011.0,779.0,90.3,0,0,148.0,164,11,11,1,149.0,37.0,11.0,37.0,0,2,8,2,4,6,8,12,8,11,0.0,0,0,1,84.2,50.0,0,0,170230,37606,8000,55030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
11,NaN,NaN,16000,16000,16000.0,60,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,14963.22,14963.22,2412.280000,2412.28,1036.78,1375.50,0.0,0.0,0.0,Jul-2019,406.04,Jul-2019,Jul-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
12,NaN,NaN,16000,16000,16000.0,60,26.31%,481.99,E,E4,Financial Relationship Associate,< 1 year,RENT,33000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,290xx,SC,33.62,0,Sep-2010,1,NaN,NaN,17,0,22872,65.5%,22,w,15168.43,15168.43,2856.860000,2856.86,831.57,2025.29,0.0,0.0,0.0,Jul-2019,481.99,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,29869,1,1,0,1,24.0,6997,65.0,1,1,2703,65.0,34900,0,3,1,2,1757.0,4596.0,66.9,0,0,29.0,99,2,2,0,2.0,NaN,3.0,NaN,0,6,11,9,13,2,16,20,11,17,0.0,0,0,1,100.0,55.6,0,0,45709,29869,13900,10809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
13,NaN,NaN,15000,15000,14975.0,60,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,13937.82,13914.59,2098.050000,2094.55,1062.18,1035.87,0.0,0.0,0.0,Jul-2019,352.69,Jul-2019,Jul-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
14,NaN,NaN,13000,13000,13000.0,36,23.40%,505.95,E,E1,Sale Representative,2 years,MORTGAGE,90000.0,Verified,Dec-2018,Current,n,NaN,NaN,other,Other,191xx,PA,39.73,0,May-2007,0,NaN,NaN,14,0,52013,83.1%,20,w,11409.51,11409.51,3010.350000,3010.35,1590.49,1419.86,0.0,0.0,0.0,Jul-2019,505.95,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,87876,1,7,1,3,1.0,35863,48.0,0,1,18037,64.0,62600,2,0,1,4,6277.0,9503.0,83.8,0,0,131.0,139,16,1,0,16.0,NaN,10.0,NaN,0,6,7,6,7,11,7,9,7,14,0.0,0,0,1,100.0,66.7,0,0,137276,87876,58600,74676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
15,NaN,NaN,9600,9600,9600.0,36,23.40%,373.62,E,E1,driver coordinator,9 years,RENT,65000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,265xx,WV,23.01,1,Sep-2003,0,16.0,NaN,12,0,10678,37.5%,20,f,8425.51,8425.51,2223.000000,2223.00,1174.49,1048.51,0.0,0.0,0.0,Jul-2019,373.62,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,66,24165,0,2,0,0,43.0,13487,33.0,1,1,2264,35.0,28500,0,0,0,1,2014.0,232.0,96.9,0,0,183.0,92,12,12,0,27.0,NaN,15.0,30.0,0,7,9,7,8,8,10,12,9,12,0.0,0,0,1,90.0,85.7,0,0,68902,24165,7600,40402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
16,NaN,NaN,3500,3500,3500.0,36,20.89%,131.67,D,D4,gas attendant,10+ years,MORTGAGE,40000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,car,Car financing,078xx,NJ,9.09,0,Oct-2004,1,24.0,NaN,4,0,1944,33.5%,18,w,3056.65,3056.65,783.930000,783.93,443.35,340.58,0.0,0.0,0.0,Jul-2019,131.67,Jul-2019,Jul-2019,0,48.0,1,Joint App,59500.0,10.59,Source Verified,0,0,189794,1,1,1,1,7.0,24958,100.0,2,2,1317,87.0,5800,1,0,3,3,47449.0,3683.0,26.3,0,0,150.0,170,1,1,4,8.0,48.0,1.0,48.0,2,1,2,1,8,3,2,11,2,4,0.0,0,0,3,38.9,0.0,0,0,217000,26902,5000,25000,6902.0,May-2003,0.0,3.0,6.0,47.9,0.0,21.0,0.0,0.0,46.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
17,NaN,NaN,30000,30000,30000.0,60,26.31%,903.73,E,E4,Casino Host,10+ years,OWN,62000.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,37.24,0,Oct-2007,0,NaN,86.0,15,1,18890,39.8%,36,w,29245.76,29245.76,2645.410000,2645.41,754.24,1891.17,0.0,0.0,0.0,Apr-2019,903.73,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,104590,1,2,1,2,6.0,85700,86.0,0,3,5976,49.0,47500,4,0,8,5,6973.0,17510.0,51.9,0,0,134.0,104,13,6,0,13.0,NaN,6.0,NaN,0,5,5,7,7,20,13,16,5,15,0.0,0,0,1,100.0,14.3,1,0,138354,104590,36400,90854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Late (31-120 days)
18,NaN,NaN,16000,16000,16000.0,36,14.47%,550.51,C,C2,Carpenter,10+ years,RENT,150000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,other,Other,917xx,CA,17.94,0,Nov-2001,1,NaN,NaN,24,0,43721,59.2%,29,w,13788.81,13788.81,3283.770000,3283.77,2211.19,1072.58,0.0,0.0,0.0,Jul-2019,550.51,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,57465,0,2,0,0,36.0,13744,8.0,0,8,7445,56.0,73800,0,0,3,8,2498.0,4117.0,87.2,0,0,159.0,205,13,13,0,13.0,NaN,2.0,NaN,0,7,19,7,7,4,22,25,19,24,0.0,0,0,0,100.0,85.7,0,0,116647,57465,32100,42847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
19,NaN,NaN,24000,24000,24000.0,36,15.02%,832.21,C,C3,MAINTENANCE PLANNER,3 years,OWN,105000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,711xx,LA,22.14,0,Dec-2004,0,NaN,NaN,11,0,26552,61.2%,49,w,20707.61,20707.61,4963.220000,4963.22,3292.39,1670.83,0.0,0.0,0.0,Jul-2019,832.21,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,350585,2,2,5,9,5.0,66595,92.0,2,4,6618,71.0,43400,3,4,4,13,31871.0,7774.0,65.4,0,0,90.0,168,1,1,1,16.0,NaN,8.0,NaN,0,4,7,4,14,29,8,19,7,11,0.0,0,0,7,100.0,50.0,0,0,391084,93147,22500,73252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
20,NaN,NaN,12000,12000,12000.0,60,14.47%,282.16,C,C2,Assistant Athletic Director of Marketing,1 year,RENT,67000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,28.39,0,Aug-2009,1,NaN,NaN,9,0,10018,50.9%,34,w,11149.97,11149.97,1688.140000,1688.14,850.03,838.11,0.0,0.0,0.0,Jul-2019,282.16,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,184578,1,4,2,3,5.0,174560,97.0,0,1,4615,87.0,19700,1,1,2,4,20509.0,9682.0,50.9,0,0,112.0,80,23,5,0,23.0,NaN,5.0,NaN,0,3,3,5,5,26,5,8,3,9,0.0,0,0,2,100.0,0.0,0,0,183897,184578,19700,164197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
21,NaN,NaN,35000,35000,35000.0,60,15.02%,833.02,C,C3,Sr Sales Manager,10+ years,MORTGAGE,290000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,656xx,MO,7.60,0,Dec-2004,0,29.0,NaN,15,0,29416,93.7%,33,w,32554.98,32554.98,4954.310000,4954.31,2445.02,2509.29,0.0,0.0,0.0,Jul-2019,833.02,Jul-2019,Jul-2019,1,42.0,1,Individual,NaN,NaN,NaN,0,149,479986,1,8,0,2,17.0,58023,58.0,0,1,12297,75.0,31400,0,0,2,4,31999.0,1038.0,95.2,0,0,168.0,167,22,6,3,22.0,42.0,8.0,29.0,0,3,4,3,8,17,6,13,4,15,0.0,0,0,1,87.9,100.0,0,0,513173,87439,21600,82773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
22,NaN,NaN,14000,14000,14000.0,36,16.14%,493.17,C,C4,NaN,NaN,MORTGAGE,77479.0,Not Verified,Dec-2018,Current,n,NaN,NaN,other,Other,315xx,GA,23.65,0,Mar-2005,0,38.0,NaN,6,0,8147,101.8%,21,w,12108.16,12108.16,2940.190000,2940.19,1891.84,1048.35,0.0,0.0,0.0,Jul-2019,493.17,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,160981,0,4,1,4,12.0,48653,69.0,0,1,8147,75.0,8000,2,2,2,5,26830.0,0.0,101.8,0,0,155.0,165,16,12,2,16.0,38.0,11.0,38.0,0,1,1,1,3,14,1,5,1,6,0.0,0,0,1,90.5,100.0,0,0,197087,56800,8000,80287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
23,NaN,NaN,40000,40000,40000.0,60,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,36935.18,36935.18,5217.700000,5217.70,3064.82,2152.88,0.0,0.0,0.0,Jul-2019,875.90,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,149597,1,2,0,1,14.0,27860,66.0,2,2,9618,73.0,42300,0,0,0,3,12466.0,2589.0,89.6,0,0,123.0,132,1,1,3,40.0,NaN,15.0,NaN,0,3,8,4,8,5,9,14,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Current
24,NaN,NaN,24000,24000,24000.0,60,27.27%,736.73,E,E5,Firefighter/captain,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,977xx,OR,23.92,0,Feb-1999,0,74.0,NaN,17,0,12382,63.5%,39,w,0.00,0.00,26993.835441,26993.84,24000.00,2993.84,0.0,0.0,0.0,Jul-2019,17.42,NaN,Jul-2019,0,NaN,1,Joint App,165000.0,23.32,Not Verified,0,0,473236,1,6,2,7,3.0,112256,70.0,1,3,2792,69.0,19500,4,14,8,13,27837.0,8.0,99.7,0,0,238.0,149,12,3,4,24.0,NaN,7.0,NaN,0,1,7,1,3,19,8,16,7,17,0.0,0,0,3,97.4,100.0,0,0,544316,124638,2800,156323,47875.0,Mar-2005,0.0,4.0,13.0,78.8,2.0,8.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid

In [197]:
# creating a dict file   
dictionary = {'Current': 1, 'Fully Paid': 1, 'Late (16-30 days)': 0, 'Late (31-120 days)': 0, 'In Grace Period': 0, 'Charged Off': 0, 'Default':0}

# Now, map or assign numbers to the string values in the new column accordingly
df_lending_club['loan_status_is_great'] = df_lending_club['loan_status_is_great'].map(dictionary)
df_lending_club.head(50)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,NaN,NaN,10000,10000,10000.0,36,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8540.01,8540.01,1936.770000,1936.77,1459.99,476.78,0.0,0.0,0.0,Jul-2019,324.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,4000,4000,4000.0,36,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3510.60,3510.60,926.280000,926.28,489.40,436.88,0.0,0.0,0.0,Jul-2019,155.68,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,5000,5000,5000.0,36,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (16-30 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0
3,NaN,NaN,23000,23000,23000.0,60,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21597.84,21597.84,3686.640000,3686.64,1402.16,2284.48,0.0,0.0,0.0,Jul-2019,620.81,Jul-2019,Jul-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,NaN,NaN,8000,8000,8000.0,36,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,7021.26,7021.26,1852.500000,1852.50,978.74,873.76,0.0,0.0,0.0,Jul-2019,311.35,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
5,NaN,NaN,32075,32075,32075.0,60,11.80%,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,22.21,0,Aug-2005,0,NaN,NaN,17,0,19077,32%,24,w,29646.85,29646.85,4230.020000,4230.02,2428.15,1801.87,0.0,0.0,0.0,Jul-2019,710.26,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,272667,1,4,1,1,9.0,37558,47.0,1,1,3910,41.0,59600,1,2,0,3,16039.0,10446.0,47.8,0,0,160.0,70,4,4,2,27.0,NaN,14.0,NaN,0,4,10,4,4,8,12,14,10,17,0.0,0,0,2,100.0,50.0,0,0,360433,56635,20000,80125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
6,NaN,NaN,9600,9600,9600.0,36,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8246.68,8246.68,1964.460000,1964.46,1353.32,611.14,0.0,0.0,0.0,Jul-2019,323.37,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
7,NaN,NaN,2500,2500,2500.0,36,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,0.00,0.00,2652.765986,2652.77,2500.00,152.77,0.0,0.0,0.0,May-2019,2315.91,NaN,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
8,NaN,NaN,30000,30000,30000.0,60,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,20424.26,20424.26,12116.030000,12116.03,9575.74,2540.29,0.0,0.0,0.0,Jul-2019,777.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
9,NaN,NaN,12000,12000,12000.0,60,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11130.42,11130.42,1645.380000,1645.38,869.58,775.80,0.0,0.0,0.0,Jul-2019,276.49,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
10,NaN,NaN,10000,10000,10000.0,60,19.92%,264.50,D,D3,Material Handler,10+ years,MORTGAGE,80000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,648xx,MO,20.67,0,Apr-2005,0,37.0,NaN,11,0,13198,73.7%,19,w,9383.92,9383.92,1570.400000,1570.40,616.08,954.32,0.0,0.0,0.0,Jul-2019,264.50,Jul-2019,Jul-2019,0,37.0,1,Individual,NaN,NaN,NaN,0,116,110120,0,2,0,1,15.0,24408,70.0,1,1,6521,72.0,17900,0,0,1,2,10011.0,779.0,90.3,0,0,148.0,164,11,11,1,149.0,37.0,11.0,37.0,0,2,8,2,4,6,8,12,8,11,0.0,0,0,1,84.2,50.0,0,0,170230,37606,8000,55030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
11,NaN,NaN,16000,16000,16000.0,60,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,14963.22,14963.22,2412.280000,2412.28,1036.78,1375.50,0.0,0.0,0.0,Jul-2019,406.04,Jul-2019,Jul-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
12,NaN,NaN,16000,16000,16000.0,60,26.31%,481.99,E,E4,Financial Relationship Associate,< 1 year,RENT,33000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,290xx,SC,33.62,0,Sep-2010,1,NaN,NaN,17,0,22872,65.5%,22,w,15168.43,15168.43,2856.860000,2856.86,831.57,2025.29,0.0,0.0,0.0,Jul-2019,481.99,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,29869,1,1,0,1,24.0,6997,65.0,1,1,2703,65.0,34900,0,3,1,2,1757.0,4596.0,66.9,0,0,29.0,99,2,2,0,2.0,NaN,3.0,NaN,0,6,11,9,13,2,16,20,11,17,0.0,0,0,1,100.0,55.6,0,0,45709,29869,13900,10809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
13,NaN,NaN,15000,15000,14975.0,60,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,13937.82,13914.59,2098.050000,2094.55,1062.18,1035.87,0.0,0.0,0.0,Jul-2019,352.69,Jul-2019,Jul-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
14,NaN,NaN,13000,13000,13000.0,36,23.40%,505.95,E,E1,Sale Representative,2 years,MORTGAGE,90000.0,Verified,Dec-2018,Current,n,NaN,NaN,other,Other,191xx,PA,39.73,0,May-2007,0,NaN,NaN,14,0,52013,83.1%,20,w,11409.51,11409.51,3010.350000,3010.35,1590.49,1419.86,0.0,0.0,0.0,Jul-2019,505.95,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,87876,1,7,1,3,1.0,35863,48.0,0,1,18037,64.0,62600,2,0,1,4,6277.0,9503.0,83.8,0,0,131.0,139,16,1,0,16.0,NaN,10.0,NaN,0,6,7,6,7,11,7,9,7,14,0.0,0,0,1,100.0,66.7,0,0,137276,87876,58600,74676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
15,NaN,NaN,9600,9600,9600.0,36,23.40%,373.62,E,E1,driver coordinator,9 years,RENT,65000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,265xx,WV,23.01,1,Sep-2003,0,16.0,NaN,12,0,10678,37.5%,20,f,8425.51,8425.51,2223.000000,2223.00,1174.49,1048.51,0.0,0.0,0.0,Jul-2019,373.62,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,66,24165,0,2,0,0,43.0,13487,33.0,1,1,2264,35.0,28500,0,0,0,1,2014.0,232.0,96.9,0,0,183.0,92,12,12,0,27.0,NaN,15.0,30.0,0,7,9,7,8,8,10,12,9,12,0.0,0,0,1,90.0,85.7,0,0,68902,24165,7600,40402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
16,NaN,NaN,3500,3500,3500.0,36,20.89%,131.67,D,D4,gas attendant,10+ years,MORTGAGE,40000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,car,Car financing,078xx,NJ,9.09,0,Oct-2004,1,24.0,NaN,4,0,1944,33.5%,18,w,3056.65,3056.65,783.930000,783.93,443.35,340.58,0.0,0.0,0.0,Jul-2019,131.67,Jul-2019,Jul-2019,0,48.0,1,Joint App,59500.0,10.59,Source Verified,0,0,189794,1,1,1,1,7.0,24958,100.0,2,2,1317,87.0,5800,1,0,3,3,47449.0,3683.0,26.3,0,0,150.0,170,1,1,4,8.0,48.0,1.0,48.0,2,1,2,1,8,3,2,11,2,4,0.0,0,0,3,38.9,0.0,0,0,217000,26902,5000,25000,6902.0,May-2003,0.0,3.0,6.0,47.9,0.0,21.0,0.0,0.0,46.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
17,NaN,NaN,30000,30000,30000.0,60,26.31%,903.73,E,E4,Casino Host,10+ years,OWN,62000.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,37.24,0,Oct-2007,0,NaN,86.0,15,1,18890,39.8%,36,w,29245.76,29245.76,2645.410000,2645.41,754.24,1891.17,0.0,0.0,0.0,Apr-2019,903.73,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,104590,1,2,1,2,6.0,85700,86.0,0,3,5976,49.0,47500,4,0,8,5,6973.0,17510.0,51.9,0,0,134.0,104,13,6,0,13.0,NaN,6.0,NaN,0,5,5,7,7,20,13,16,5,15,0.0,0,0,1,100.0,14.3,1,0,138354,104590,36400,90854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0
18,NaN,NaN,16000,16000,16000.0,36,14.47%,550.51,C,C2,Carpenter,10+ years,RENT,150000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,other,Other,917xx,CA,17.94,0,Nov-2001,1,NaN,NaN,24,0,43721,59.2%,29,w,13788.81,13788.81,3283.770000,3283.77,2211.19,1072.58,0.0,0.0,0.0,Jul-2019,550.51,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,57465,0,2,0,0,36.0,13744,8.0,0,8,7445,56.0,73800,0,0,3,8,2498.0,4117.0,87.2,0,0,159.0,205,13,13,0,13.0,NaN,2.0,NaN,0,7,19,7,7,4,22,25,19,24,0.0,0,0,0,100.0,85.7,0,0,116647,57465,32100,42847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
19,NaN,NaN,24000,24000,24000.0,36,15.02%,832.21,C,C3,MAINTENANCE PLANNER,3 years,OWN,105000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,711xx,LA,22.14,0,Dec-2004,0,NaN,NaN,11,0,26552,61.2%,49,w,20707.61,20707.61,4963.220000,4963.22,3292.39,1670.83,0.0,0.0,0.0,Jul-2019,832.21,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,350585,2,2,5,9,5.0,66595,92.0,2,4,6618,71.0,43400,3,4,4,13,31871.0,7774.0,65.4,0,0,90.0,168,1,1,1,16.0,NaN,8.0,NaN,0,4,7,4,14,29,8,19,7,11,0.0,0,0,7,100.0,50.0,0,0,391084,93147,22500,73252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
20,NaN,NaN,12000,12000,12000.0,60,14.47%,282.16,C,C2,Assistant Athletic Director of Marketing,1 year,RENT,67000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,28.39,0,Aug-2009,1,NaN,NaN,9,0,10018,50.9%,34,w,11149.97,11149.97,1688.140000,1688.14,850.03,838.11,0.0,0.0,0.0,Jul-2019,282.16,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,184578,1,4,2,3,5.0,174560,97.0,0,1,4615,87.0,19700,1,1,2,4,20509.0,9682.0,50.9,0,0,112.0,80,23,5,0,23.0,NaN,5.0,NaN,0,3,3,5,5,26,5,8,3,9,0.0,0,0,2,100.0,0.0,0,0,183897,184578,19700,164197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
21,NaN,NaN,35000,35000,35000.0,60,15.02%,833.02,C,C3,Sr Sales Manager,10+ years,MORTGAGE,290000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,656xx,MO,7.60,0,Dec-2004,0,29.0,NaN,15,0,29416,93.7%,33,w,32554.98,32554.98,4954.310000,4954.31,2445.02,2509.29,0.0,0.0,0.0,Jul-2019,833.02,Jul-2019,Jul-2019,1,42.0,1,Individual,NaN,NaN,NaN,0,149,479986,1,8,0,2,17.0,58023,58.0,0,1,12297,75.0,31400,0,0,2,4,31999.0,1038.0,95.2,0,0,168.0,167,22,6,3,22.0,42.0,8.0,29.0,0,3,4,3,8,17,6,13,4,15,0.0,0,0,1,87.9,100.0,0,0,513173,87439,21600,82773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
22,NaN,NaN,14000,14000,14000.0,36,16.14%,493.17,C,C4,NaN,NaN,MORTGAGE,77479.0,Not Verified,Dec-2018,Current,n,NaN,NaN,other,Other,315xx,GA,23.65,0,Mar-2005,0,38.0,NaN,6,0,8147,101.8%,21,w,12108.16,12108.16,2940.190000,2940.19,1891.84,1048.35,0.0,0.0,0.0,Jul-2019,493.17,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,160981,0,4,1,4,12.0,48653,69.0,0,1,8147,75.0,8000,2,2,2,5,26830.0,0.0,101.8,0,0,155.0,165,16,12,2,16.0,38.0,11.0,38.0,0,1,1,1,3,14,1,5,1,6,0.0,0,0,1,90.5,100.0,0,0,197087,56800,8000,80287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
23,NaN,NaN,40000,40000,40000.0,60,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,36935.18,36935.18,5217.700000,5217.70,3064.82,2152.88,0.0,0.0,0.0,Jul-2019,875.90,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,149597,1,2,0,1,14.0,27860,66.0,2,2,9618,73.0,42300,0,0,0,3,12466.0,2589.0,89.6,0,0,123.0,132,1,1,3,40.0,NaN,15.0,NaN,0,3,8,4,8,5,9,14,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
24,NaN,NaN,24000,24000,24000.0,60,27.27%,736.73,E,E5,Firefighter/captain,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,977xx,OR,23.92,0,Feb-1999,0,74.0,NaN,17,0,12382,63.5%,39,w,0.00,0.00,26993.835441,26993.84,24000.00,2993.84,0.0,0.0,0.0,Jul-2019,17.42,NaN,Jul-2019,0,NaN,1,Joint App,165000.0,23.32,Not Verified,0,0,473236,1,6,2,7,3.0,112256,70.0,1,3,2792,69.0,19500,4,14,8,13,27837.0,8.0,99.7,0,0,238.0,149,12,3,4,24.0,NaN,7.0,NaN,0,1,7,1,3,19,8,16,7,17,0.0,0,0,3,97.4,100.0,0,0,544316,124638,2800,156323,47875.0,Mar-2005,0.0,4.0,13.0,78.8,2.0,8.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
25,NaN,NaN,28000,28000,28000.0,36,11.31%,920.81,B,B3,Executive Administrative Assistant,5 years,RENT,82000.0,Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,921xx,CA,14.40,0,Dec-2009,0,NaN,NaN,15,0,27713,43.9%,26,w,24089.39,24089.39,5498.470000,5498.47,3910.61,1587.86,0.0,0.0,0.0,Jul-2019,920.81,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,85157,0,1,1,3,7.0,57444,52.0,1,2,6392,45.0,63100,0,2,0,5,5677.0,28865.0,46.1,0,0,67.0,108,8,7,0,8.0,NaN,NaN,NaN,0,10,11,11,11,6,13,20,12,15,0.0,0,0,2,100.0,27.3,0,0,123978,85157,53600,60878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1

In [208]:
# Make last_pymnt_d_month and last_pymnt_d_year columns
df_lending_club.loc[:,'last_pymnt_d_month'] = df_lending_club['last_pymnt_d']
df_lending_club.loc[:,'last_pymnt_d_year'] = df_lending_club['last_pymnt_d']
df_lending_club.head(50)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,10000,10000,10000.0,36,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8540.01,8540.01,1936.770000,1936.77,1459.99,476.78,0.0,0.0,0.0,Jul-2019,324.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
1,NaN,NaN,4000,4000,4000.0,36,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3510.60,3510.60,926.280000,926.28,489.40,436.88,0.0,0.0,0.0,Jul-2019,155.68,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
2,NaN,NaN,5000,5000,5000.0,36,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (16-30 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0,Jun-2019,Jun-2019
3,NaN,NaN,23000,23000,23000.0,60,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21597.84,21597.84,3686.640000,3686.64,1402.16,2284.48,0.0,0.0,0.0,Jul-2019,620.81,Jul-2019,Jul-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
4,NaN,NaN,8000,8000,8000.0,36,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,7021.26,7021.26,1852.500000,1852.50,978.74,873.76,0.0,0.0,0.0,Jul-2019,311.35,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
5,NaN,NaN,32075,32075,32075.0,60,11.80%,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,22.21,0,Aug-2005,0,NaN,NaN,17,0,19077,32%,24,w,29646.85,29646.85,4230.020000,4230.02,2428.15,1801.87,0.0,0.0,0.0,Jul-2019,710.26,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,272667,1,4,1,1,9.0,37558,47.0,1,1,3910,41.0,59600,1,2,0,3,16039.0,10446.0,47.8,0,0,160.0,70,4,4,2,27.0,NaN,14.0,NaN,0,4,10,4,4,8,12,14,10,17,0.0,0,0,2,100.0,50.0,0,0,360433,56635,20000,80125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
6,NaN,NaN,9600,9600,9600.0,36,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8246.68,8246.68,1964.460000,1964.46,1353.32,611.14,0.0,0.0,0.0,Jul-2019,323.37,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
7,NaN,NaN,2500,2500,2500.0,36,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,0.00,0.00,2652.765986,2652.77,2500.00,152.77,0.0,0.0,0.0,May-2019,2315.91,NaN,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,May-2019,May-2019
8,NaN,NaN,30000,30000,30000.0,60,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,20424.26,20424.26,12116.030000,12116.03,9575.74,2540.29,0.0,0.0,0.0,Jul-2019,777.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
9,NaN,NaN,12000,12000,12000.0,60,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11130.42,11130.42,1645.380000,1645.38,869.58,775.80,0.0,0.0,0.0,Jul-2019,276.49,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
10,NaN,NaN,10000,10000,10000.0,60,19.92%,264.50,D,D3,Material Handler,10+ years,MORTGAGE,80000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,648xx,MO,20.67,0,Apr-2005,0,37.0,NaN,11,0,13198,73.7%,19,w,9383.92,9383.92,1570.400000,1570.40,616.08,954.32,0.0,0.0,0.0,Jul-2019,264.50,Jul-2019,Jul-2019,0,37.0,1,Individual,NaN,NaN,NaN,0,116,110120,0,2,0,1,15.0,24408,70.0,1,1,6521,72.0,17900,0,0,1,2,10011.0,779.0,90.3,0,0,148.0,164,11,11,1,149.0,37.0,11.0,37.0,0,2,8,2,4,6,8,12,8,11,0.0,0,0,1,84.2,50.0,0,0,170230,37606,8000,55030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
11,NaN,NaN,16000,16000,16000.0,60,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,14963.22,14963.22,2412.280000,2412.28,1036.78,1375.50,0.0,0.0,0.0,Jul-2019,406.04,Jul-2019,Jul-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
12,NaN,NaN,16000,16000,16000.0,60,26.31%,481.99,E,E4,Financial Relationship Associate,< 1 year,RENT,33000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,290xx,SC,33.62,0,Sep-2010,1,NaN,NaN,17,0,22872,65.5%,22,w,15168.43,15168.43,2856.860000,2856.86,831.57,2025.29,0.0,0.0,0.0,Jul-2019,481.99,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,29869,1,1,0,1,24.0,6997,65.0,1,1,2703,65.0,34900,0,3,1,2,1757.0,4596.0,66.9,0,0,29.0,99,2,2,0,2.0,NaN,3.0,NaN,0,6,11,9,13,2,16,20,11,17,0.0,0,0,1,100.0,55.6,0,0,45709,29869,13900,10809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
13,NaN,NaN,15000,15000,14975.0,60,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,13937.82,13914.59,2098.050000,2094.55,1062.18,1035.87,0.0,0.0,0.0,Jul-2019,352.69,Jul-2019,Jul-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
14,NaN,NaN,13000,13000,13000.0,36,23.40%,505.95,E,E1,Sale Representative,2 years,MORTGAGE,90000.0,Verified,Dec-2018,Current,n,NaN,NaN,other,Other,191xx,PA,39.73,0,May-2007,0,NaN,NaN,14,0,52013,83.1%,20,w,11409.51,11409.51,3010.350000,3010.35,1590.49,1419.86,0.0,0.0,0.0,Jul-2019,505.95,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,87876,1,7,1,3,1.0,35863,48.0,0,1,18037,64.0,62600,2,0,1,4,6277.0,9503.0,83.8,0,0,131.0,139,16,1,0,16.0,NaN,10.0,NaN,0,6,7,6,7,11,7,9,7,14,0.0,0,0,1,100.0,66.7,0,0,137276,87876,58600,74676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
15,NaN,NaN,9600,9600,9600.0,36,23.40%,373.62,E,E1,driver coordinator,9 years,RENT,65000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,265xx,WV,23.01,1,Sep-2003,0,16.0,NaN,12,0,10678,37.5%,20,f,8425.51,8425.51,2223.000000,2223.00,1174.49,1048.51,0.0,0.0,0.0,Jul-2019,373.62,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,66,24165,0,2,0,0,43.0,13487,33.0,1,1,2264,35.0,28500,0,0,0,1,2014.0,232.0,96.9,0,0,183.0,92,12,12,0,27.0,NaN,15.0,30.0,0,7,9,7,8,8,10,12,9,12,0.0,0,0,1,90.0,85.7,0,0,68902,24165,7600,40402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
16,NaN,NaN,3500,3500,3500.0,36,20.89%,131.67,D,D4,gas attendant,10+ years,MORTGAGE,40000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,car,Car financing,078xx,NJ,9.09,0,Oct-2004,1,24.0,NaN,4,0,1944,33.5%,18,w,3056.65,3056.65,783.930000,783.93,443.35,340.58,0.0,0.0,0.0,Jul-2019,131.67,Jul-2019,Jul-2019,0,48.0,1,Joint App,59500.0,10.59,Source Verified,0,0,189794,1,1,1,1,7.0,24958,100.0,2,2,1317,87.0,5800,1,0,3,3,47449.0,3683.0,26.3,0,0,150.0,170,1,1,4,8.0,48.0,1.0,48.0,2,1,2,1,8,3,2,11,2,4,0.0,0,0,3,38.9,0.0,0,0,217000,26902,5000,25000,6902.0,May-2003,0.0,3.0,6.0,47.9,0.0,21.0,0.0,0.0,46.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
17,NaN,NaN,30000,30000,30000.0,60,26.31%,903.73,E,E4,Casino Host,10+ years,OWN,62000.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,37.24,0,Oct-2007,0,NaN,86.0,15,1,18890,39.8%,36,w,29245.76,29245.76,2645.410000,2645.41,754.24,1891.17,0.0,0.0,0.0,Apr-2019,903.73,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,104590,1,2,1,2,6.0,85700,86.0,0,3,5976,49.0,47500,4,0,8,5,6973.0,17510.0,51.9,0,0,134.0,104,13,6,0,13.0,NaN,6.0,NaN,0,5,5,7,7,20,13,16,5,15,0.0,0,0,1,100.0,14.3,1,0,138354,104590,36400,90854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0,Apr-2019,Apr-2019
18,NaN,NaN,16000,16000,16000.0,36,14.47%,550.51,C,C2,Carpenter,10+ years,RENT,150000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,other,Other,917xx,CA,17.94,0,Nov-2001,1,NaN,NaN,24,0,43721,59.2%,29,w,13788.81,13788.81,3283.770000,3283.77,2211.19,1072.58,0.0,0.0,0.0,Jul-2019,550.51,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,57465,0,2,0,0,36.0,13744,8.0,0,8,7445,56.0,73800,0,0,3,8,2498.0,4117.0,87.2,0,0,159.0,205,13,13,0,13.0,NaN,2.0,NaN,0,7,19,7,7,4,22,25,19,24,0.0,0,0,0,100.0,85.7,0,0,116647,57465,32100,42847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
19,NaN,NaN,24000,24000,24000.0,36,15.02%,832.21,C,C3,MAINTENANCE PLANNER,3 years,OWN,105000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,711xx,LA,22.14,0,Dec-2004,0,NaN,NaN,11,0,26552,61.2%,49,w,20707.61,20707.61,4963.220000,4963.22,3292.39,1670.83,0.0,0.0,0.0,Jul-2019,832.21,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,350585,2,2,5,9,5.0,66595,92.0,2,4,6618,71.0,43400,3,4,4,13,31871.0,7774.0,65.4,0,0,90.0,168,1,1,1,16.0,NaN,8.0,NaN,0,4,7,4,14,29,8,19,7,11,0.0,0,0,7,100.0,50.0,0,0,391084,93147,22500,73252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
20,NaN,NaN,12000,12000,12000.0,60,14.47%,282.16,C,C2,Assistant Athletic Director of Marketing,1 year,RENT,67000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,231xx,VA,28.39,0,Aug-2009,1,NaN,NaN,9,0,10018,50.9%,34,w,11149.97,11149.97,1688.140000,1688.14,850.03,838.11,0.0,0.0,0.0,Jul-2019,282.16,Aug-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,184578,1,4,2,3,5.0,174560,97.0,0,1,4615,87.0,19700,1,1,2,4,20509.0,9682.0,50.9,0,0,112.0,80,23,5,0,23.0,NaN,5.0,NaN,0,3,3,5,5,26,5,8,3,9,0.0,0,0,2,100.0,0.0,0,0,183897,184578,19700,164197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
21,NaN,NaN,35000,35000,35000.0,60,15.02%,833.02,C,C3,Sr Sales Manager,10+ years,MORTGAGE,290000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,656xx,MO,7.60,0,Dec-2004,0,29.0,NaN,15,0,29416,93.7%,33,w,32554.98,32554.98,4954.310000,4954.31,2445.02,2509.29,0.0,0.0,0.0,Jul-2019,833.02,Jul-2019,Jul-2019,1,42.0,1,Individual,NaN,NaN,NaN,0,149,479986,1,8,0,2,17.0,58023,58.0,0,1,12297,75.0,31400,0,0,2,4,31999.0,1038.0,95.2,0,0,168.0,167,22,6,3,22.0,42.0,8.0,29.0,0,3,4,3,8,17,6,13,4,15,0.0,0,0,1,87.9,100.0,0,0,513173,87439,21600,82773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
22,NaN,NaN,14000,14000,14000.0,36,16.14%,493.17,C,C4,NaN,NaN,MORTGAGE,77479.0,Not Verified,Dec-2018,Current,n,NaN,NaN,other,Other,315xx,GA,23.65,0,Mar-2005,0,38.0,NaN,6,0,8147,101.8%,21,w,12108.16,12108.16,2940.190000,2940.19,1891.84,1048.35,0.0,0.0,0.0,Jul-2019,493.17,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,160981,0,4,1,4,12.0,48653,69.0,0,1,8147,75.0,8000,2,2,2,5,26830.0,0.0,101.8,0,0,155.0,165,16,12,2,16.0,38.0,11.0,38.0,0,1,1,1,3,14,1,5,1,6,0.0,0,0,1,90.5,100.0,0,0,197087,56800,8000,80287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
23,NaN,NaN,40000,40000,40000.0,60,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,36935.18,36935.18,5217.700000,5217.70,3064.82,2152.88,0.0,0.0,0.0,Jul-2019,875.90,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,149597,1,2,0,1,14.0,27860,66.0,2,2,9618,73.0,42300,0,0,0,3,12466.0,2589.0,89.6,0,0,123.0,132,1,1,3,40.0,NaN,15.0,NaN,0,3,8,4,8,5,9,14,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019
24,NaN,NaN,24000,24000,24000.0,60,27.27%,736.73,E,E5,Firefighter/captain,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,977xx,OR,23.92,0,Feb-1999,0,74.0,NaN,17,0,12382,63.5%,39,w,0.00,0.00,26993.835441,26993.84,24000.00,2993.84,0.0,0.0,0.0,Jul-2019,17.42,NaN,Jul-2019,0,NaN,1,Joint App,165000.0,23.32,Not Verified,0,0,473236,1,6,2,7,3.0,112256,70.0,1,3,2792,69.0,19500,4,14,8,13,27837.0,8.0,99.7,0,0,238.0,149,12,3,4,24.0,NaN,7.0,NaN,0,1,7,1,3,19,8,16,7,17,0.0,0,0,3,97.4,100.0,0,0,544316,124638,2800,156323,47875.0,Mar-2005,0.0,4.0,13.0,78.8,2.0,8.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,Jul-2019,Jul-2019

In [213]:
# Split the month and year values and identify the values used
date_data = df_lending_club.last_pymnt_d.str.split(pat = "-", expand=True)
print(date_data.head())
type (date_data)
date_data[0].unique()

     0     1
0  Jul  2019
1  Jul  2019
2  Jun  2019
3  Jul  2019
4  Jul  2019

array(['Jul', 'Jun', 'May', 'Apr', 'Feb', 'Jan', 'Mar', nan, 'Dec', 'Nov',
       'Oct'], dtype=object)

In [0]:
# Make NaN values 0
date_data[0] = date_data[0].replace('nan', np.nan).fillna(0)
date_data[1] = date_data[1].replace('nan', np.nan).fillna(0)

In [221]:
# Change the month names to integers
dictionary_mo = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul':7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

# Now, map or assign numbers to the string values in the new column accordingly
date_data[0] = date_data[0].map(dictionary_mo)
date_data.head()

     0     1
0  7.0  2019
1  7.0  2019
2  6.0  2019
3  7.0  2019
4  7.0  2019

In [222]:
# Take the two rows from date_data and put them in for df_lending_club.last_pymnt_d_month and df_lending_club.last_pymnt_d_year
df_lending_club['last_pymnt_d_month'] = date_data[0]
df_lending_club['last_pymnt_d_year'] = date_data[1]
df_lending_club.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,10000,10000,10000.0,36,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8540.01,8540.01,1936.77,1936.77,1459.99,476.78,0.0,0.0,0.0,Jul-2019,324.23,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0,2019
1,NaN,NaN,4000,4000,4000.0,36,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3510.60,3510.60,926.28,926.28,489.40,436.88,0.0,0.0,0.0,Jul-2019,155.68,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0,2019
2,NaN,NaN,5000,5000,5000.0,36,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (16-30 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,0,6.0,2019
3,NaN,NaN,23000,23000,23000.0,60,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21597.84,21597.84,3686.64,3686.64,1402.16,2284.48,0.0,0.0,0.0,Jul-2019,620.81,Jul-2019,Jul-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0,2019
4,NaN,NaN,8000,8000,8000.0,36,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,7021.26,7021.26,1852.50,1852.50,978.74,873.76,0.0,0.0,0.0,Jul-2019,311.35,Jul-2019,Jul-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0,2019

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01